<div class="banner" id="biologie">
  <h1 class="main-title">BIOLOGIE</h1>
</div>
<div class="section-bio">
  <div class="sub-section">
    <h2>1. BIOLOGIE VEGETALE</h2>
    <hr class="sep separateur-xl">
    <h3>1.1.  Propriétés triboélectriques des fruits et légumes</h3>
    <hr class="sep separateur-l">
    <p>
      Les baguettes sont inactives lorsque l’on place devant elles certains fruits comme la poire, la pomme, le pamplemousse, la tomate. Il en est de même avec certains légumes comme la pomme de terre, le navet, le concombre. <br>
      En revanche, les baguettes s’ouvrent lorsqu’on les approche du melon, de la banane et de la pêche.
    </p>
    <p>
      J’ai constaté que les constituants du premier groupe, tel la tomate, frotté avec un papier plastique ne génèrent pas de charges triboélectriques, alors que ceux du second groupe comme le melon le font. <br>
      Si l’on place une pomme devant une pièce de monnaie, on constate que les baguettes ne répondent pas. Elle se comporte donc comme un inhibiteur du signal de la pièce.
    </p>
    <div class="image">
      <%= image_tag 'bio-fig-1.WebP' %>
    </div>
    <p>
      Si maintenant la pomme est pelée ou coupée, les baguettes s’écartent. Elle devient alors génératrice de charges triboélectriques, et perd son caractère inhibiteur.
    </p>
    <h3>1.2.  Comportement des baguettes vis à vis des fruits</h3>
    <hr class="sep separateur-l">
    <p>
      J’ai constaté qu’une banane donnait trois signaux à angle droit qui s’inversent lorsque sa position dans le plan tournait de 180°; la distance D est égale à 2,0m lorsque le fruit n’est pas mûr et tombe à 0,3m lorsqu’il est très mûr.
    </p>
    <div class="image">
      <%= image_tag 'bio-fig-2.WebP' %>
    </div>
    <p>
      Les baguettes ne répondent plus lorsque l’on enlève la peau.
    </p>
    <p>
      Il y a interaction entre deux bananes issues du même lot, séparées de Dm=4m, uniquement lorsqu’elles sont dans une position symétrique.
    </p>
    <div class="image">
      <%= image_tag 'bio-fig-3.WebP' %>
    </div>
    <p>
      Dans le cas d’une pèche plate juste mûre posée horizontalement, les baguettes s’orientent vers l’extérieur du fruit et s’écartent lorsque l’on se place au-dessus du fruit. D=50cm. Les signaux s’inversent lorsque le fruit subit une rotation verticale de 90°. La valeur de D passe de 50 à 5cm lorsque le fruit devient très mûr.
    </p>
    <div class="image">
      <%= image_tag 'bio-fig-4.WebP' %>
    </div>
    <p>
      Lorsque deux pêches sont superposées ou en contact latéral face à l’opérateur, la distance D est double de celle mesurée pour une seule pêche. SI les deux pêches sont l’une derrière l’autre, la distance D est égale à celle d’une seule pêche. <br>
      Il y a interaction entre les deux pêches sur une distance inférieure à 70cm.
    </p>
    <div class="image">
      <%= image_tag 'bio-fig-5.WebP' %>
    </div>
    <h3>1.3.  Comportement des baguettes vis à vis des arbres</h3>
    <hr class="sep separateur-l">
    <p>
      Les baguettes s’écartent lorsque l’on s’approche à D=50cm d’un jeune arbre pourvu de feuilles. On a constaté aussi qu’il était nécessaire de s’en rapprocher davantage la nuit pour retrouver le même signal. <br>
      En automne, on peut suivre la diminution de D au cours du jaunissement des feuilles de cet arbre et sa valeur zéro lorsque toutes les feuilles sont tombées, les baguettes ne répondant plus. <br>
      Les ouvrages de botanique indiquent qu’il existe deux types de sève: une sève montante riche en eau qui s’évapore par les feuilles, et une sève descendante beaucoup moins riche en eau. Lorsque les feuilles sont tombées, les deux sèves s’arrêtent pour reprendre leur trajet au printemps. <br>
      La photosynthèse qui est réduite la nuit joue un rôle essentiel au niveau de la montée de la sève.
    </p>
    <div class="image">
      <%= image_tag 'bio-fig-6.WebP'  %>
    </div>
    <p>
      Le signal des baguettes est identique à celui que l’on observe quand on se trouve en face d’une conduite verticale lorsque l’eau monte. Les baguettes indiquent donc la montée de la sève riche en eau. Elles sont inactives devant un arbre mort.
    </p>
    <h3>1.4.  Influence de la présence d’une conduite d’eau sur la végétation</h3>
    <hr class="sep separateur-l">
    <p>
      Une atténuation localisée de la hauteur de la végétation dans une bordure a été observée à l’endroit précis où passe une conduite d’eau qui est à 5m de profondeur.
    </p>
    <div class="image">
      <%= image_tag 'bio-fig-7.WebP'  %>
    </div>
    <p>
      Le tronc d’un tilleul est profondément modifié par le passage de l’eau sous ses pieds. Il en est de même pour un arbre tordu au bord du Canal.
    </p>
    <h3>1.5.  Réponse des baguettes vis-à-vis des fleurs</h3>
    <hr class="sep separateur-l">
    <p>
      On observe trois types de signaux:
    </p>
    <div class="image">
      <%= image_tag 'bio-fig-8.WebP'  %>
    </div>
    <p>
      Les valeurs de D dépendent d’une fleur à l’autre: 2,0m pour l’agapanthe 1,0 m pour le géranium. Elles diminuent avec la vie de la fleur et avec la fermeture des pétales comme pour la gazania.
    </p>
    <br>
    <h2>2. BIOLOGIE ANIMALE</h2>
    <hr class="sep separateur-xl">
    <h3>2.1.  Réponses d’un œuf</h3>
    <hr class="sep separateur-l">
    <p>
      Il m’a paru intéressant de voir si les baguettes donnaient un signal lorsqu’elles se trouvaient devant un œuf. La réponse a été positive et riche de possibilités.
    </p>
    <h3>2.2.  Influence de la position de l’œuf</h3>
    <hr class="sep separateur-l">
    <p>
      S’il repose verticalement sur son extrémité la plus large, les baguettes s’éloignent radialement de l’œuf sur une distance D=1,5m à 21° et s’écartent au-dessus de l’œuf. S’il repose sur l’autre extrémité, on observe les signaux inverses.
    </p>
    <div class="image double">
      <%= image_tag 'bio-fig-9.WebP' %>
      <%= image_tag 'bio-fig-10.WebP' %>
    </div>
    <p>
      Si l’œuf est couché, on constate que les baguettes mettent en évidence trois axes orthorhombiques. <br>
      Lorsque la plus forte extrémité se trouve à gauche de l’opérateur, les baguettes s’écartent au niveau de l’axe vertical. Au niveau horizontal, les deux axes s’orientent vers l’extérieur, les valeurs de D étant respectivement de 1,5m pour l’axe joignant les deux extrémités et 0,75m pour l’autre axe perpendiculaire. <br>
      Les signaux sont inversés si la plus forte extrémité se trouve à droite de l’opérateur.
    </p>
    <h3>2.3.  Interaction entre deux œufs</h3>
    <hr class="sep separateur-l">
    <p>
      La règle des témoins est observée lorsque les extrémités de même nature se font face à face. La distance limite entre les œufs est plus grande lorsque les faces les plus grandes se font faces : D’>D. <br>
      Il n’y a pas d’interaction entre les deux œufs lorsque les extrémités sont différentes. On constate également qu’un œuf en position verticale supprime les signaux d’un œuf couché. Par ailleurs on constate que les signaux disparaissent lorsque deux œufs sont en position verticale mais en sens inverse.
    </p>
    <div class="image">
      <%= image_tag 'bio-fig-11.WebP' %>
    </div>
    <br>
    <h2>3. CONCLUSION</h2>
    <hr class="sep separateur-xl">
    <P>
      Les quelques expériences menées en biologie végétale et animale soulignent l’intérêt que peut présenter l’utilisation des baguettes pour suivre le murissement d’un fruit, la vie d’une fleur, expliquer la forme particulière d’un tronc d’arbre, suivre la montée de la sève dans un tilleul. Les réponses inattendues d’un œuf invitent à poursuivre les expériences pour connaitre l’influence éventuelle de son origine et de sa fraicheur sur ses signaux.
    </P>
  </div>
</div>

