<div class="banner" id="electricite">
  <h1 class="main-title">L'ELECTRICITE</h1>
</div>
<div class="section-electricite">
  <div class="sub-section">
    <h2>1.  COURANT CONTINU</h2>
    <hr class="sep separateur-xl">
    <h3>1.1.  Identification des pôles et mesure de la charge d’une pile</h3>
    <hr class="sep separateur-l">
    <p>
      Que l’approche soit frontale ou latérale, les baguettes s’écartent du pôle + et convergent vers le pôle – de la pile, quelle que soit sa forme (pile bâton, pile plate). Elles se croisent au-dessus du pôle + et s’écartent au-dessus du pôle -.
    </p>
    <div class="image">
      <%= image_tag 'elec-fig1.WebP' %>
    </div>
    <p>
      La distance de détection de la pile augmente avec sa tension : lorsque la pile plate est debout et que l’on se place sur la ligne des deux pôles, la distance D est de 4,2m quand  la pile est neuve, sa tension étant de 4,5V. Cette distance diminue avec l’usure puisqu’elle passe à 2,2m quand la tension est de 3,8V. <br>
      Les signaux des baguettes sont inversés lorsque les pôles de la pile le sont. <br>
      Les baguettes peuvent donc être utilisées comme voltmètre pour évaluer une tension de pile une fois la distance D étalonnée.
    </p>
    <div class="image double">
      <%= image_tag 'elec-fig2.WebP' %>
      <%= image_tag 'elec-fig3.WebP' %>
    </div>
    <h3>1.2.  Interaction entre piles</h3>
    <hr class="sep separateur-l">
    <p>Si l’on place deux piles sur une même ligne, les pôles + et – se succédant, les baguettes se dirigent dans la même direction (A). Par contre les signaux entre les deux piles disparaissent si deux pôles de même nature se succèdent (B). </p>
    <div class="image">
      <%= image_tag 'elec-fig4.WebP' %>
    </div>
    <h3>1.3.  Interaction pile-eau, pile-conducteur et pile-ferrite</h3>
    <hr class="sep separateur-l">
    <p>
      Lorsque l’on place sur l’axe d’une pile bâton un verre d’eau, on constate que les baguettes sont inactives lorsque l’eau est placée devant un pôle de la pile. Elles détectent le signal de la pile au niveau de l’autre pôle.
    </p>
    <div class="image">
      <%= image_tag 'elec-fig5.WebP' %>
    </div>
    <p>
      Si l’on chevauche l’axe de la pile dans le sens + - on constate le croisement des baguettes d3 devant la pile seule. Ce croisement augmente et passe à d2,5 lorsque l’eau est devant le pôle de la pile, et diminue à d3,5 lorsque l’eau se trouve derrière.
    </p>
    <div class="image">
      <%= image_tag 'elec-fig6.WebP' %>
    </div>
    <p>
      On observe les mêmes phénomènes quand on remplace l’eau par un conducteur tel une pièce de 0,50€ ou une ferrite qui est magnétique mais non conductrice.
    </p>
    <h3>1.4.  Intensité et densité de courant</h3>
    <hr class="sep separateur-l">
    <p>
      Le comportement des baguettes en présence d’un fil parcouru par un courant continu est très voisin de celui que nous avons constaté avec une veine d’eau. <br>
      Lorsque l’on fait face à une ligne de courant continu, les baguettes suivent le sens du courant dans le fil qui va du pôle + au pôle -. <br>
      Lorsque l’on chevauche la ligne dans le sens du courant les baguettes s’écartent. Elles se croisent quand on opère en sens inverse. <br>
      Il n’y a pas de réponse des baguettes lorsque les deux fils sont en sens inverse, le signal de l’un annulant celui de l’autre car de signe opposé.
    </p>
    <div class="image">
      <%= image_tag 'elec-fig7.WebP' %>
    </div>
    <p>
      L’écartement ou le croisement des baguettes en un point du circuit augmente avec l’intensité. <br>
      Lorsque le fil est vertical et parcouru par un courant descendant, les baguettes se rapprochent du fil quand on tourne tangentiellement autour de lui et se croisent quand on l’approche de face.
    </p>
    <div class="image">
      <%= image_tag 'elec-fig8.WebP' %>
    </div>
    <p>
      Ces résultats montrent une grande analogie avec ce qui a été observé dans le cas des veines d’eau. Cette analogie est due au fait que l’intensité mesure un débit d’électrons et que ce dernier est directement lié à la section du fil qui le transporte. Dans le cas de l’eau on a la relation: <br>
      Débit = vitesse de déplacement de l’eau &times section de la veine d’eau.
    </p>
    <p>
      Dans le cas du courant électrique on a la relation:
      <span class="equation">
        Intensité = densité de courant &times section du conducteur
      </span>
      où la densité de courant mesure la vitesse de déplacement des électrons dans le conducteur.
    </p>
    </p>
    <div class="image">
      <%= image_tag 'elec-fig9.WebP' %>
    </div>
    <p>
      Dans le circuit présenté ci-dessus, l’intensité mesurée par un ampèremètre en 1, 2 ou 3 est la même, alors que la section des fils constituant le circuit ne l’est pas. <br>
      On constate que le croisement des baguettes diminue en passant de 1 à 3 à mesure que la section du fil augmente. La réponse des baguettes en un point donné dépend donc de la densité de courant. <br>
      On fait passer un courant de 4 ampères dans un fil de 0,5mm de diamètre relié à un fil de 1,0m, plus épais, dont le diamètre est de 2mm. Le rapport des surfaces est de 16. On note la graduation d3 pour le fil le plus fin et d4 pour l’autre.

    </p>
    <div class="image">
      <%= image_tag 'elec-fig10.WebP' %>
    </div>
    <p>
      La courbe signal d=f(intensité) montre que les variations sont plus importantes pour des intensités inférieures à 1A. <br>
      Il est remarquable de constater que le corps humain peut suivre les variations de densité de courant dans le circuit examiné alors qu’aucun appareil électrique ne peut le faire. On peut aussi remarquer que ces courbes sont très voisines de celles que nous avons déterminées pour le calcul du débit des veines d’eau.
    </p>

    <h3>1.5.  Distance fil / opérateur</h3>
    <hr class="sep separateur-l">
    <p>
      La réponse des baguettes dépend également, en un point donné du circuit, de la distance p entre le fil et l’opérateur: les baguettes se croisent moins si l’on monte sur un tabouret, alors que le signal reste le même, que l’on soit à genoux ou debout. C‘est donc la position des pieds par rapport à la ligne qui est à considérer.
    </p>
    <h3>1.6.  Les caténaires</h3>
    <hr class="sep separateur-l">
    <p>
      Certains caténaires sont alimentés en courant continu de plus de 1000 ampères. Le train se déplace dans le sens du courant qui peut être détecté sur une passerelle ou sous un viaduc. On constate que les baguettes s’écartent ou se croisent au maximum. <br>
      Il est donc possible de savoir avec les baguettes, sur une passerelle où passent plusieurs lignes dans quel sens va passer un train sur une voie donnée avant qu’il n’arrive.
    </p>
    <div class="image">
      <%= image_tag 'elec-fig11.png' %>
    </div>
    <p>
      En conclusion, il est important de souligner les analogies de comportement des  baguettes vis-à-vis d’une veine d’eau et d’un courant continu. Les mouvements des molécules d’eau et des électrons conduisent aux mêmes conclusions tant au niveau de la direction des fluides, qu’au niveau des débits.
    </p>

    <h2>2.  LIGNE TÉLÉPHONIQUE</h2>
    <hr class="sep separateur-xl">
    <p>
      Les lignes téléphoniques souterraines répondent comme une veine d’eau ou une ligne de courant continu excepté qu’elles ne donnent pas de signal lorsqu’on les chevauche.  <br>
      Sur la ligne de distribution souterraine horizontale sont branchées de part et d’autre les lignes allant vers les habitations.
    </p>
    <div class="image">
      <%= image_tag 'elec-fig12.png' %>
    </div>
    <p>
      Au niveau des lignes aériennes, seules les lignes téléphoniques sont détectables. A partir de la ligne d’alimentation qui se trouve dans la rue, portée par des poteaux porteurs d’une étiquette bleue, partent les lignes allant vers les maisons que les  baguettes révèlent au sol. <br>
      Quand on se trouve en face d’un téléphone, les baguettes s’orientent vers l’appareil. Lorsqu’il y a une sonnerie, les baguettes se dirigent en sens inverse.
    </p>
    <h2>3.  COURANT ALTERNATIF</h2>
    <hr class="sep separateur-xl">
    <h3>3.1.  Réponse d’une prise de courant</h3>
    <hr class="sep separateur-l">
    <p>
      Lorsqu’on longe le mur d’une pièce où se trouve une prise, les baguettes s’orientent au niveau de cette prise à angle droit du mur vers l’intérieur de la pièce. Elles s’ouvrent dans le sens perpendiculaire, dos au mur. <br>
      De l’autre côté du mur, où il n’y a rien d’apparent, elles s’orientent et s’ouvrent au même endroit dans le même sens. On peut suivre la ligne arrivant à cette prise, les baguettes s’orientant vers la prise. <br>
      Il est ainsi possible de détecter la présence de prises cachées derrière des meubles.
    </p>
    <div class="image">
      <%= image_tag 'elec-fig13.WebP' %>
    </div>
    <h3>3.2.  Alimentation de prises de courant</h3>
    <hr class="sep separateur-l">
    <p>
      La ligne alimentant la prise A ne peut venir que de B et non de C ou D comme l’indique les baguettes. <br>
      Entre deux prises électriques, les baguettes répondent seulement si elles sont sur la même ligne.
    </p>
    <div class="image">
      <%= image_tag 'elec-fig14.WebP' %>
    </div>
    <h3>3.3.  Contrôle de branchement</h3>
    <hr class="sep separateur-l">
    <p>
      Il est possible de préciser si une lampe éteinte est branchée ou non sur une prise cachée. Lorsque la lampe est branchée et allumée on n’observe pas de signal. <br>
      Quand elle reste branchée mais éteinte, les baguettes donnent un signal et se dirigent vers l’interrupteur. Après l’interrupteur, le signal disparait. <br>
      Lorsque la lampe est débranchée il n’y a plus de signal.
    </p>
    <div class="image">
      <%= image_tag 'elec-fig15.WebP' %>
    </div>
    <h2>4.  ÉLECTROSTATIQUE</h2>
    <hr class="sep separateur-xl">
    <h3>4.1.  Effet d’influence</h3>
    <hr class="sep separateur-l">
    <p>
      Lorsque l’on approche une tige conductrice du pôle + de la pile, il apparait des charges opposées sur les extrémités de la tige que l’on peut identifier avec les baguettes. L’intervalle de détection d des signaux augmente avec la tension de la pile.
    </p>
    <div class="image">
      <%= image_tag 'elec-fig16.WebP' %>
    </div>
    <h3>4.2.  Triboélectricité</h3>
    <hr class="sep separateur-l">
    <p>
      Le phénomène de triboélectricité est observé lorsque l’on frotte deux objets l’un sur l’autre: il se développe en surface des charges électrostatiques opposées. <br>
      Les baguettes de sourcier permettent de préciser la nature des charges de chaque objet et leur intensité. La triboélectricité apparait aussi bien avec les isolants qu’avec les conducteurs. <br>
      Quand on frotte une tige de verre sur de la laine, la tige de verre prend des charges positives, les baguettes sont dirigées vers l’extérieur de la tige. La laine prend des charges négatives, les baguettes se croisent. Le signal des baguettes augmente avec le temps de frottement. <br>
      Si l’on remplace la tige de verre par une tige en plastique, les signaux sont inversés. Il  y a conformité avec la série triboélectrique proposée.
    </p>
    <div class="image">
      <%= image_tag 'elec-fig17.WebP' %>
    </div>
    <p>
      J’ai observé que lorsqu’on approche les baguettes d’un objet isolant, celles-ci s’écartent lorsque cet objet est générateur de triboélectricité, et restent immobiles lorsqu’il ne l’est pas. <br>
      Ainsi certains tissus et plastiques, certaines couvertures de livre sont inhibitrices alors que les pages du livre ne le sont pas, que certains fruits ou légumes comme les pamplemousses ou les pommes de terre étaient inhibiteurs mais perdaient cette propriété lorsqu’ ils étaient épluchés ou coupés.
    </p>
    <h3>4.3.  Triboluminescence</h3>
    <hr class="sep separateur-l">
    <P>
      Casser un morceau de sucre crée un phénomène lumineux et des charges électriques opposées sur chacun des morceaux (triboluminescence). <br>
      On peut caractériser le morceau porteur de la charge + ou - avec les baguettes et évaluer la durée de vie de ces charges.
    </P>
    <h2>5.  CONCLUSION</h2>
    <hr class="sep separateur-xl">
    <P>
      En conclusion de ce chapitre consacré à l’Électricité, les quelques expériences menées dans divers domaines montrent les possibilités qu’offrent les baguettes pour suivre facilement les phénomènes électriques : recherche de lignes, analyse d’un circuit, contrôle des piles et de branchements, caractérisation des phénomènes triboélectriques, recherche de lignes téléphoniques, etc. On retiendra en particulier l’analogie de comportement entre le courant continu et les veines d’eau.
    </P>
  </div>
</div>

